<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCfzRTf7Zsr5mzt-6PU2QIX8lyQp8jupFg</string>
	<key>GCM_SENDER_ID</key>
	<string>1009371088519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myapp</string>
	<key>PROJECT_ID</key>
	<string>vidsh-bb7ea</string>
	<key>STORAGE_BUCKET</key>
	<string>vidsh-bb7ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009371088519:ios:9577f1bc43215184739a22</string>
</dict>
</plist>